
<body class="text-center" style="margin: 20%; margin-top: 10%;">


  <h1 class="h3 mb-3 fw-normal">Choose your Role</h1>


 <!-- <a routerLink="home-view" routerLinkActive="active">Home</a>
<a routerLink="kunden-portal"  routerLinkActive="active">About</a>-->


  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="assets/imgs/berater.png" alt="">

        <div class="card-body">
          <h5 class="card-title">Berater</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button (click)="myFunction()"  class="btn btn-primary" routerLink="berater-portal"  routerLinkActive="active"  class="btn btn-primary">Gehe zu Bereateransicht</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="assets/imgs/kunde.png" alt="">
        <div class="card-body">
          <h5 class="card-title">Kunde</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <button (click)="myFunction()"  class="btn btn-primary" routerLink="kunden-portal"  routerLinkActive="active" >Gehe zu Kundenansicht</button>
        </div>
      </div>
    </div>
  </div>



  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>






</body>